:root {
  --bg: #2B2D42;
  --primary-color: #D80032;
  --secondary-color: #EF233C;
  --text-color: #EDF2F4;
  --off-color: #8D99AE;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #2B2D42;
  color: #EDF2F4;

  /* background-image: url('./img/wave.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
